
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
    height: 60px;
}

.links{
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: black;
}

.one{
    font-size: 30px;
}

.header-button button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.button-one{
    background-color: orange;
    color: white;
}

.button-two{
    background-color: transparent;
}

.main-body{
    width: 100%;
    height: 400px;
    background-image: url(./Coastal\ Sunset\ Highway.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.job{

    padding: 60px 80px;
}

.role{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
}

.fold{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    
}

.block{
    height: 60px;
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
}

.block-five{
    padding: 10px 40px;
}

.drop{
    display: flex;
    justify-content: space-between;
}